# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/

# Ignore sensitive files
.env
config/secret_config.yaml

# Ignore data files
data/
*.csv
test.csv
train.csv
test_processed.csv
train_processed.csv
train_clean.csv
test_clean.csv


# Ignore saved models
models/
*.joblib
*.pkl

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
